<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Communities page</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">CRM Application</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/communities/}">Communities</a>
                <a class="nav-link" th:href="@{/persons/}">Persons</a>
            </nav>
        </div>
    </header>


<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="row">
            <form method="post" th:action="@{/communities/edit/{id}(id=${community.})}" name="communities" th:object="${community}">
                <div class="card">
                    <div class="card-body">
                        <p>Community goes here</p>
                        <form method="get" th:action="@{/communities/edit/{id}(id=$)}" th:object="${community}">

                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>